html,
body {
    overflow-x: hidden;
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.window {
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
}

.out {
    /* left: 100%; */
    display: none;
}

.head-link {
    font-size: 1.2rem;
}

@keyframes slideIn {
    from {
        left: 100%;
    }

    to {
        left: 0%
    }
}


@keyframes slideAway {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

#profile {
    background-color: rgba(103, 232, 131, 0.26);
}

#status {
    background-color: rgba(117, 135, 255, 0.26);
}

#users {
    background-color: rgba(103, 189, 232, 0.26);
}

#departments {
    background-color: rgba(126, 255, 227, 0.26);
}

.controlBlock {
    height: 50%;
    padding-top: 50%;
}

/* Mobile */
@media (max-width: 769px) {
    .display-3 {
        font-size: 2rem;
    }

    .p-5-desktop {
        padding: auto;
    }

    .slideIn {
        animation-duration: 0.3s;
        animation-name: slideIn;
    }

    .slideAway {
        animation-duration: 0.3s;
        animation-name: slideAway;
    }

    .mobilePadding {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Desktop */
@media (min-width: 770px) { 
    .p-5-desktop {
        padding: 3rem!important;
    }

    .slideIn {
        animation-duration: 0.5s;
        animation-name: slideIn;
    }

    .slideAway {
        animation-duration: 0.5s;
        animation-name: slideAway;
    }

    .w-50-desktop {
        width: 50%!important;
    }

    .mobilePadding {
        padding: auto;
    }
}

.bg-none {
    background-color: transparent;
}