{% block footer %}

{% load staticfiles %}

<div class="whitebox solidbackground show show4">
        <footer class="page-footer font-small indigo mt-4">
            <!-- Footer Links -->
            <div class="container">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/news">Новости</a>
                </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="/feedback">Обратная связь</a>
                </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Контакты</a>
                </h6>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">
					<b>Возникли проблемы при использовании нашей системы?</b> <br>Зайдите в раздел "Обратная связь"
					для того, чтобы просмотреть часто задаваемые вопросы или оставить Ваш для рассмотрения 
					поддержкой ISYN.<br><br> <b>Интересно узнать о нас и проекте?</b> <br>Просмотрите раздел "Новости".<br><br> <b>Хотите связаться с нами?</b><br> 
					Просмотрите раздел "Контакты".
				</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="http://isyn.tk"> isyn.tk</a>
            </div>
            <!-- Copyright -->

        </footer>
</div>
{% endblock %}