<!-- {% load staticfiles %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ошибка 404 - CypherDesk</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href = "{% static 'css/bootstrap4-business-tycoon.min.css' %}">
    <link rel="stylesheet" href = "{% static 'LandPage/mycss.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <div class="container wrapper">
        <div class="whitebox box p-3" style="text-align: center; margin-top: calc(45% - 175px)">
            <h1 class="display-1"> 404 </h1>
            <p>Страница, запрашиваемая Вами, не существует или была перемещена</p>
        </div>
    </div>
</body>

</html>