<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CypherDesk - ISYN Software</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href = "{% static 'css/bootstrap4-business-tycoon.min.css' %}">
    <link rel="stylesheet" href = "{% static 'News/Full/mycss.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title> CypherDesk - Ваш выбор среди систем документооборота для предприятий </title>
</head>

<body>

    {% block header %} {% include "Feedback/full_ans/includes/header.html" %} {% endblock %}
    {% block content %} {% include "Feedback/full_ans/includes/content.html" %} {% endblock %}
    {% block footer %} {% include "LandPage/includes/footer.html" %} {% endblock %}

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

        <script src="{% static 'LandPage/js/main.js' %}"></script>
</body>
</html>