{% load static %} {% block content %}

<style>
    .g-recaptcha {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="showBase show2">
    <div class="container py-5 whitebox solidbackground mobileCenter" style="margin-top: 20px" class="showBase">
        <h1>Правила, касающиеся обратной связи</h1>
        <p class="bigfont">
            Просим Вас убедиться, что Ваш вопрос не находится в списке часто задаваемых вопросов перед тем, как оставлять его через форму
            обратной связи!
        </p>
        <p class="bigfont">
            (Просмотреть список можно, кликнув на кнопку выше)
        </p>
        <p class="bigfont">
            Любые сообщения, которые содержат уже отвеченные в FAQ вопросы, будут игнорироваться администрацией.
        </p>
    </div>

    <div class="whitebox" id="form">
        {% if ready == True %}
        <div class="container">
            <h2>Заполните форму</h2>
            <h4>Убедитесь, что E-mail введен корректно</h4>
            <form>
                {% csrf_token %}
                <fieldset>
                    <h4>Контактная информация</h4>
                    <hr>
                    <input type="text" class="text" required placeholder="Ваше Имя" id="user_name" name="user_name">
                    <input type="email" class="text" required placeholder="Ваш E-mail" id="user_email" name="user_email">
                    <h4>Тема</h4>
                    <hr>
                    <input type="text" class="text mobileQuestionTheme" required placeholder="Старайтесь сформулировать тему кратко" id="message_title" name="message_title"
                        style="width: 70%;">
                </fieldset>
                <fieldset class="hint_titles_wrapper hidden">
                    <h2>Пользователи уже спрашивали: </h2>
                    <div class="hint_titles">

                    </div>
                </fieldset>
                <fieldset>
                    <h4>Опишите Вашу проблему</h4>
                    <hr>
                    <div class="pseudotextarea" contenteditable="true" spellcheck="true" dir="auto" role="textbox" aria-multiline="true" id="message_text"
                        name="message_text" required></div>
                    <!-- <hr>
                    <h4>Прикрепите файл/файлы (если необходимо)</h4>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Прикрепите файл</label>
                    </div> -->

                </fieldset>
                <center>
                    <div class="g-recaptcha" data-sitekey="6LdFjF8UAAAAAF7w-ZN0QNLIgMyCLjBvZE4_FLlO"></div>
                </center>
                <button type="submit" id="send_feedback_form" style="margin-top: 5px; font-size: 20px;" onclick="return false">Отправить</button>
            </form>
        </div>
        {% else %}
        <div class="container desktopPadding">
            <h2>Здравствуйте!</h2>
            <h2>Спасибо за отправку Вашего отзыва!</h2>
            <p class="bigfont">Вы видите это сообщение, потому что с Вашего IP адреса была произведена отправка проблемы
                в течении этих двух часов. Если Вы считаете, что это ошибка и Вы ничего не отправляли, или же
                сообщение, что вы отправили, содержало ошибку, пожалуйста, напишите нам <a href="#contacts">сюда</a>.
            </p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}