 {% load staticfiles %} {% block header %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#!">Навигация</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="../">Главная страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">Новости</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#!">Обратная связь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacts">Контакты</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
        <!--</form>-->
    </div>
</nav>

<div class="jumbotron bg-dark text-white mb-0 showBase show1">
    <div class="container mobileCenter">

        <h1 class="display-5 text-light">Обратная связь</h1>
        <h3>Просмотрите часто задаваемые вопросы или оставьте Ваш через форму обратной связи</h3>

        <div class="mt-4">
            <a href="/feedback/faq" class="btn btn-primary btn-lg my-2 mr-2">
                <span>Часто задаваемые вопросы</span>
            </a>
            <a href="../" class="btn btn-outline-light btn-hover-text-light btn-lg my-2">
                <span>Назад на главную</span>
            </a>
        </div>

    </div>
</div>

{% endblock %}